/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
body {
  background-color: #ffffff;
  font-family: serif;
  color: #444444;
  padding: 2rem;
}

/* Name */
#name {
  margin-bottom: 1rem;
}

#name:hover {
  opacity: 0;
}

/* Links (left aligned by default) */
#links {
  margin-bottom: 2rem;
}

#links a {
  display: block;
  margin: 0.2rem 0;
  font-size: 15px;
  text-decoration: none;
  color: #444444;
  word-break: break-word;
}

/* Image section (below links, but aligned right) */
#imageContainer {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
  overflow: hidden;
}

#myImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: ew-resize;
}

/* Email (below image, aligned right) */
#contact {
  text-align: left;
}

#contact a {
  font-size: 15px;
  text-decoration: none;
  color: #444444;
  cursor: pointer;
}


#links a:hover,
#contact a:hover {
  font-style: italic;
}
